nav{
    ul{
        li{
            a{
                text-decoration: none;
                outline: none;

                &.active{
                    text-decoration: underline;
                }
                &:focus{

                }
            }
        }
    }
}